<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.iClone.AlarmChallenge"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:versionName="1.1.0" android:versionCode="3">

  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <!-- This is for debug releases only! -->
  <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission> -->

  <!-- android:debugable for debug release only! -->
  <!-- <application android:icon="@drawable/alarmclock" android:label="@string/app_name" android:debuggable="true"> -->

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name">
    <activity
        android:name="com.iClone.AlarmChallenge.ActivityAlarmClock"
        android:theme="@style/MainAppThemeLight"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.iClone.AlarmChallenge.ActivityAlarmNotification"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"/>
    <activity
        android:name="com.iClone.AlarmChallenge.MathActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"/>
    <activity
        android:name="com.iClone.AlarmChallenge.RewriteWord"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"/>
    <activity
        android:name="com.iClone.AlarmChallenge.ShakephoneActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:launchMode="singleInstance"
        android:screenOrientation="portrait"/>
    <activity
        android:name="com.iClone.AlarmChallenge.ActivityAlarmSettings"
        android:theme="@style/AppThemeDark"
        android:finishOnTaskLaunch="true"/>
    <activity
        android:name="com.iClone.AlarmChallenge.ActivityAppSettings"
        android:theme="@style/AppThemeDark"
        android:finishOnTaskLaunch="true"/>
    <activity
        android:name="com.iClone.AlarmChallenge.ActivityPendingAlarms"
        android:theme="@style/AppThemeDark"
        android:finishOnTaskLaunch="true"/>
    <activity
        android:name="com.iClone.AlarmChallenge.AboutTabbedActivity"
        android:theme="@style/AppThemeDark">
    </activity>
    <service android:name="com.iClone.AlarmChallenge.AlarmClockService"/>
    <service android:name="com.iClone.AlarmChallenge.NotificationService"/>
    <receiver android:name="com.iClone.AlarmChallenge.ReceiverAlarm"/>
    <receiver android:name="com.iClone.AlarmChallenge.ReceiverNotificationRefresh"/>
    <receiver android:name="com.iClone.AlarmChallenge.ReceiverDeviceBoot">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_REPLACED" />
        <data android:scheme="package" />
      </intent-filter>
    </receiver>
    <receiver android:name="com.iClone.AlarmChallenge.RecevierTimeZoneChange">
      <intent-filter>
        <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
      </intent-filter>
    </receiver>
  </application>

</manifest>
